.body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
}

.card{
    width: 400px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;    
    padding: 20px;
    background: #fefefe;
    color: #2c2c2c;
    border: 1px solid #c8c8c8;
    border-left: 3px solid #c8c8c8;
    border-bottom: 8px solid #c8c8c8;
    border-radius: 12px;
}

.profile-photo{
    width: 150px;
    border-radius: 8px;
}

