img{
    display:block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; 
    margin-top: 40px;
} 
.card{
    color: #222222;
    background-color: #f2f2f2;
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
}